$main-text-color: red;
$heading-font: 10px;
$Submain-text-color: rgb(214, 112, 112);
$border: 1px solid blue;

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "IBM Plex Sans", sans-serif;
}
h1 {
  font-weight: 400;
}
p {
  font-weight: 200;
}
@import "./header";
@import "./main";
@import "./footer";
@import "./img";
@import "./subMain";
