img {
    width: 200px;
}

body {
    background-color: rgb(175, 240, 240);
}

.arrow {
    transform: scale(.3);
    width: 100px;
}

.arrow:hover {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;

}

.selected__album__figure {
    border-style: solid;
}

.albums   {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    margin-left:25%;
    margin-right: 25%;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    
}

.main  {
    display:flex;
    flex-direction: column;
}

.album__img {
    margin-left: auto;
    margin-right: auto;
}

.page__header{
    align-self: center;
}

.stereo {
    display: flex;
    flex-direction: column;
}

.change__album {
    display:flex;
    justify-content: center;
}

.change__song {
    display:flex;
    justify-content: center;
}

.selected__album__figure {
    width: 201px;
    height: 201px;
}

.selected__album {
    margin-top: 2.25rem;
}

.footer {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.album__name  {
    text-align: center;
}